<section class="entryway-section">

  <h2 class="main-title">Under Stair Storage</h2>

  <p class="etagline">
Smart storage solutions that make use of every step.  </p>

  <div class="entryway-grid">
    <div class="entry-card">
      <img src="assets/storage/storage1.webp" alt="Shoe rack">
    </div>
    <div class="entry-card">
      <img src="assets/storage/storage2.webp" alt="Entryway storage">
    </div>
    <div class="entry-card">
      <img src="assets/storage/storage3.webp" alt="Shoe cabinet">
    </div>
    <div class="entry-card">
      <img src="assets/storage/storage4.webp" alt="Entryway unit">
    </div>
  </div>

</section>
