.entryway-section {
  padding: 40px 6%;
  background-color: #fbf7f3;
}
.main-title {
  color: #1f2933;
  text-align: center;
}
.main-title h2{
    font-size: 30px;
  margin-bottom: 1px;
}
.etagline{
font-size: 18px;
color: #6B7280;
max-width: 600px;
margin: 0 auto;
text-align: center;
margin-bottom: 30px;

}
.entryway-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.entry-card {
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  overflow: hidden;
}

.entry-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}
@media (max-width: 992px) {
  .entryway-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .entryway-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .entry-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

}
