.dinning-section {
  padding: 40px 6%;
  background-color: #fbf7f3;
}

.section-header {
  margin-bottom: 1px;
  color: #1f2933;
}
.section-header h2{
  text-align: center;
  font-size: 30px;
}
.dtagline{
  font-size: 18px;
  color: #6B7280;
  max-width: 600px;
  margin: 0 auto;
text-align: center;
margin-bottom: 30px;
}

/* Slider */
.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

/* 2 images visible */
.dinning-card {
  flex: 0 0 50%;
  padding: 10px;
}

.dinning-card img {
  width: 100%;
  height: 320px;
  object-fit: contain;
  border-radius: 12px;
}
.view-more-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.view-more-btn {
  padding: 15px 45px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #1f2933;
  cursor: pointer;
  background-color: #fafafa;
  color: #1f2933;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.view-more-btn:hover {
  background-color: #b87333;
  color: #ffffff;
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
.dinning-card img{
  width: 100%;
  height: 220px;
object-fit: cover;}

  .slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  gap: 1px;
}
.section-header{
  font-size: 1.3rem;
}
}


@media (max-width: 768px) {
.dinnig-card img{
  width: 100%;
  height: 150px;
object-fit: contain;}

  .slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  gap: 0;
}
.section-header{
  font-size: 1.3rem;
}
.dinning-section {
padding: 30px;
}
}

