<section id="contact-page"  class="info-section">

  <!-- INFO BOXES -->
  <div class="info-box-wrapper">

    <div class="info-box">
      <h3>Customised Designs</h3>
      <p>
        If you didn’t find a suitable model or need a customised design?<br>
        No worries 🙂 — <strong>we execute your plan exactly the way you imagine</strong>.
      </p>
    </div>

    <div class="info-box">
      <h3>Work References</h3>
      <p>
        Have doubts about our workmanship?<br>
        <strong>Please take a look at our work references</strong> to understand our quality.
      </p>
    </div>

    <div class="info-box">
      <h3>📞 Need assistance?</h3>
      <p>
        Feel free to reach out to us.<br> You can call us directly at
        <strong><a href="tel:+911234567890">+91 9346290984</a>.</strong> 
      </p>
    </div>

  </div>
</section>
<section    class="contact-section">
  <!-- CONTACT FORM -->
  <form class="contact-form">
   <h2 class="contact-title">Contact Us</h2>

    <div class="form-row">
      <input type="text" placeholder="Your Name" required />
      </div>
   <div class="form-row">
      <input type="tel" placeholder="Phone Number" required />
   </div>
<div class="form-row">
    <input type="email" placeholder="Email Address" required />
</div>
<div class="form-row">
    <textarea
      rows="4"
      placeholder="Message / Requirement (Custom design, order enquiry, etc.)"
      required>
    </textarea>
</div>
    <button type="submit">Send Message</button>

  </form>

</section>

