 .info-section {
  padding: 60px 6%;
  background: #f9f9f9;
}


/* BOX WRAPPER */
.info-box-wrapper {
  display: grid;
  gap: 25px;
  margin-bottom: 40px;
}

/* INDIVIDUAL BOX */
.info-box {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.info-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #b87333; /* copper */

}

.info-box p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000;
}

.info-box strong {
  color: blue;
}

/* FORM */
.contact-section {
  padding: 60px 6%;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
}
.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow:0 10px 25px rgba(0, 0, 0, 0.3) ;
  width: 100%;
  padding: 30px;
  border-radius: 14px;

}
.contact-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 7px;
  align-items: center;
  width: 90%;
}
.form-row:hover{
  transform: scale(1.08);
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 12px 14px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.contact-form input:hover,
.contact-form textarea:hover{
      box-shadow:0 10px 25px rgba(0, 0, 0, 0.3) ;

}
.contact-form button {
  width: fit-content;
  padding: 12px 32px;
  background: #b87333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 25px;
}
.contact-form button:hover{
  transform: scale(0.9);
}

/* MOBILE */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
}
