<section class="study-section">

  <h2 class="main-title">STUDY and  OFIICE </h2>

  <p class="stagline">
    Functional study tables designed for focus, comfort, and productivity.
  </p>

  <div class="study-grid">
    <div class="study-card">
      <img src="assets/wr/wrst5.jpeg" alt="Study table">
    </div>
    <div class="study-card">
      <img src="assets/wr/wrst1.jpeg" alt="Study table">
    </div>
    <div class="study-card">
      <img src="assets/study/study3.webp" alt="Study table">
    </div>
    <div class="study-card">
      <img src="assets/study/study4.webp" alt="Study table">
    </div>
  </div>

    <div class="study-grid">
    <div class="study-card">
      <img src="assets/wr/wrst2.jpeg" alt="Study table">
    </div>
    <div class="study-card">
      <img src="assets/study/office2.webp" alt="Study table">
    </div>
    <div class="study-card">
      <img src="assets/wr/wrst3.jpeg" alt="Study table">
    </div>
    <div class="study-card">
      <img src="assets/study/office4.webp" alt="Study table">
    </div>
  </div>

</section>
