.cupboards-section {
  padding: 40px 6%;
  background-color: #fbf7f3;
}

.main-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2px;
  color: #1f2933;
}
.tagline{
  font-size: 18px;
  color: #6B7280;
  max-width: 600px;
  margin: 0 auto;
text-align: center;
margin-bottom: 30px;
}
.cupboard-block {
  margin-bottom: 80px;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #374151;
}

.sub-title .title-wrap {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.sub-title .line {
  width: 3px;
  height: 1.5rem;
  background: #B87333;
}
.text{
  font-size: 1.5rem;
}
.nav-arrows {
  display: flex;
  gap: 10px;
}

.arrow {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease, background-color 0.2s ease;

}

.arrow:hover {
  background: #b87333;
  transform: scale(1.1);
}

.slider-window {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 25%;

}
.slide img:hover{
  border: 3px solid #1f2933;
overflow: hidden;
}

.slide img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.view-more-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.view-more-btn {
  padding: 15px 45px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #1f2933;
  cursor: pointer;
  background-color: #fafafa;
  color: #1f2933;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.view-more-btn:hover {
  background-color: #b87333;
  color: #ffffff;
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* ACTIVE LINK COLOR */
.main-navigation .menu li a.active-link {
  color: #9c6b30;
}

/* ACTIVE UNDERLINE (same as hover) */
.main-navigation .menu li a.active-link::after {
  width: 100%;
}

/* -------- RESPONSIVE -------- */

@media (max-width: 1200px) {
  .slide { flex: 0 0 33.333%; }
}

@media (max-width: 992px) {
  .slide { flex: 0 0 50%; }
  .slide img {
  width: 92%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.cupboards-section {
  padding: 40px 6%;
  background-color: #fbf7f3;
}
  .slider-track{
    gap: 1px;
  }


}

@media (max-width: 576px) {
  .slide { flex: 0 0 100%; }
  .slider-track{
    gap: 0;
  }
  .slide img {
  width: 98%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.cupboards-section {
  padding: 30px 6%;
  background-color: #fbf7f3;
}

}
.cupboards-section.block-header,
.slider-track,.slider-window
.slide,
.arrows {
  transform: translateZ(0);
  backface-visibility: hidden;
}
.slide img {
  border: 3px solid transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
