<app-header></app-header>

<section class="pkitchen-section">

  <h2 class="main-title">KITCHEN</h2>
 <p class="tagline">Crafted for Culinary Joy and Timeless Functionality.</p>

<section  class="block-section">

  <div class="gallery-grid">
    <img src="assets/cupboards/wrk3.jpeg">
    <img src="assets/cupboards/KCB1.webp">
    <img src="assets/cupboards/KCB4.webp">
    <img src="assets/cupboards/wrk8.jpeg">
    <img src="assets/cupboards/wrk5.jpeg">
    <img src="assets/cupboards/wrk6.jpeg">
    <img src="assets/cupboards/wrk7.jpeg">
    <img src="assets/cupboards/wrk2.jpeg">
    <img src="assets/cupboards/KCB2.webp">
    <img src="assets/cupboards/KCB3.webp">
    <img src="assets/cupboards/KCB5.webp">
    <img src="assets/cupboards/KCB6.webp">
    <img src="assets/cupboards/KCB7.webp">
    <img src="assets/cupboards/KCB8.webp">
    <img src="assets/cupboards/KCB9.webp">

  </div>

</section>
<app-contact></app-contact>
<app-footer></app-footer>

