
.sofas-section {
  padding: 60px 6%;
}

.s-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: #374151;
}

/* Slider */
.s-slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.s-slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

/* 2 images visible */
.sofa-card {
  flex: 0 0 50%;
  padding: 5px;
}
.silder-divider-s{
  height: 2px;
  background-color: orange;
  margin-bottom: 50px;
}
.silder-divider-e{
  height: 2px;
  background-color: orange;
  margin-top: 50px;
}

.sofa-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 12px;
}
.view-more-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.view-more-btn {
  padding: 15px 45px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #1f2933;
  cursor: pointer;
  background-color: #fafafa;
  color: #1f2933;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.view-more-btn:hover {
  background-color: #b87333;
  color: #ffffff;
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
.sofa-card img{
  width: 90%;
  height: 180px;}

  .s-slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  gap: 1px;
}
.s-section-header{
  font-size: 1.3rem;
}
.silder-divider-s{
  height: 0.2px;
  background-color: orange;
  margin-bottom: 3px;
}
.silder-divider-e{
  height: 0.5px;
  background-color: orange;
  margin-top: 3px;
}
.view-more-btn {
  padding: 13px 40px;
  font-size: 16px;
  border-radius: 30px;


}
.view-more-wrap {
margin-top: 30px;
margin-bottom: 10px;}
}