<app-header></app-header>

<section class="dinning-section">

  <h2 class="main-title">Dinning Tables</h2>
 <p class="tagline">Celebrate Meals in Style, Gather Around Craftsmanship.</p>

<section  class="block-section">

  <div class="gallery-grid">
    <img src="assets/wr/wrdn1.jpeg">
    <img src="assets/sofas-dnt/dngt1.webp">
    <img src="assets/sofas-dnt/dngt2.webp">
    <img src="assets/sofas-dnt/dngt3.webp">
    <img src="assets/sofas-dnt/dngt4.webp">
    <img src="assets/sofas-dnt/dngt5.webp">
    <img src="assets/sofas-dnt/dngt6.webp">
    <img src="assets/sofas-dnt/dngt7.webp">

  </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>

